---
layout: default
title: Lensooni
---
 <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
<!--
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
-->
                <a class="navbar-brand page-scroll" href="#page-top">Lensooni <br> <br> blog</a>
            </div>
        </div>
</nav>
<section class="section--first section--first-1 section--frontpage">
  <div class="section-title">
<!--
    <div class="container">
      <h1 class="textLogo--frontpage">
      Lensooni
      </h1>
      <div class="postMeta-wrapper postMeta-wrapper--frontpage">
        <ul class="postMeta">
          <li class="postMeta-tagline">
          lo spazio dove potrai condividere le tue storie
          </li>
        </ul>
      </div>
    </div>
-->
  </div>
</section>
<section class="section--postsWrapper">
  <div class="container">
    <div class="blockGroup">
      <ul class="blockGroup-list">
        {% for post in site.posts %}
          <li class="block">
            <div class="postArticle-wrapper">
              <article class="postArticle postArticle--short">
                {% if post.image.feature %}
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}')">
                    </div>
                  </a>
                {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <div class="postArticle-image" style="background-image:url('{{site.baseurl}}assets/images/logo-black.svg')">
                  </div>
                </a>
                {% endif %}
                <a class="postArticle-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </article>
              <div class="block-postMeta">{{ post.date | date_to_string }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
