<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include head.html %}
  {% assign baseUrl= "/blog/" %}
  
  <body id="page-top">
    {% if page.url != baseUrl %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% include menu.html %}
    {% endif %}

    {{ content }}

    {% if page.url != baseUrl %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% if page.url == baseUrl %}
      {% include subscribe.html %}
      {% include footer.html %}
    {% endif %}

    {% include footer-scripts.html %}
  </body>
  <script id="dsq-count-scr" src="//giac.disqus.com/count.js" async></script>
</html>
