<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include head.html %}
  
  <body id="page-top">
	   <a href= "{{page.url}}">{{page.url}}</a> 
    {% if page.url !="blog/" %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% include menu.html %}
    {% endif %}

    {{ content }}

    {% if page.url != "blog/" %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% if page.url == "blog/" %}
      {% include subscribe.html %}
      {% include footer.html %}
    {% endif %}

    {% include footer-scripts.html %}
  </body>
  <script id="dsq-count-scr" src="//giac.disqus.com/count.js" async></script>
  <script type="text/javascript">
	  console.log ("page.url", page.url);
  </script>  
</html>
